body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige
}
h2 {
    text-align: center;
}
.form-container {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px gray;
}
label{
    font-weight: bold;
}
input,select{
    width: 100px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 1px skyblue;
}
input[type="submit"]{
    background-color: cadetblue;
    color: #e4dddd;
    border: navajowhite;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: cornflowerblue;
}